<% layout("/layouts/boilerplate")%>

<body>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <i class="fa-solid fa-circle-exclamation "></i>
            <h1 class="mt-5"> <%= err.statusCode %> </h1>
            <p class="lead"><%= err.message %></p>
            <a href="/listings" class="btn btn-dark mt-3">Back to Listings</a>
        </div>
    </div>
</body>     


<!-- <div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        A simple danger alert—check it out!
       
    </div>
</div> -->